<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Informationen hinzufügen</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Informationen hinzufügen</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card mode="ios">
    <ion-card-content>
      <p>Einige Daten sind im QR-Code nicht enthalten. Füge diese Daten hier noch hinzu.</p>
    </ion-card-content>
  </ion-card>
  <ion-card mode="ios" *ngIf="!billingAmountIsSet">
    <ion-card-content>
      <ion-input [(ngModel)]="billingDetails.amount" label="Rechnungsbetrag eingeben" label-placement="floating" fill="outline" placeholder=""></ion-input>
    </ion-card-content>
  </ion-card>
  <ion-card mode="ios">
    <ion-card-content>
      <ion-datetime *ngIf="!billingDueDateIsSet" [(ngModel)]="billingDetails.customBillyData.dueDate" mode="ios" presentation="date" locale="de-DE" [firstDayOfWeek]="1">
        <span slot="title">Fälligkeitsdatum auswählen</span>
      </ion-datetime>
    </ion-card-content>
  </ion-card>
  <ion-fab *ngIf="billingDetails.amount !== undefined && billingDetails.customBillyData.dueDate !== undefined " (click)="saveChanges()" slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button color="success">
      <ion-icon name="checkmark"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>